body {
    background: linear-gradient(black, #161823);
    color: white;
}

.c-page-footer {
    text-align: center;
}

.cpc-nav-bottom {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 120px;
}

.cpc-nav-bottom .cpc-section-col {
    width: 25%;
}

.cpc-nav-bottom .cpc-section>.cpc-name {
    color: #f1a51b;
}