:global(body) {
    overflow: auto;
}

:global(.c-page) {
    /*top: 0;*/
    overflow: auto;
}

:global(.c-navTop-ctn) {
    background: transparent;
}

.ctnAlbum {
    height: calc(100vh - 44px);
    width: 100vw;
}

.ctnMain {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 15px;
    .ctnLeftBlock {
        width: 65%;
    }
    .ctnRightBlock {
        width: 35%;
        padding-left: 30px;
    }

    .ctnBase {
        margin-bottom: 15px;
    }

    .ctnRemark {
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 15px;

        .divField {
            cursor: pointer;

            .icon {
                font-size: 20px;
                display: inline-block;
                margin-right: 5px;
                float: left;
            }

            .text {
                margin-right: 5px;
                display: inline-block;
                line-height: 28px;
            }

            .num {
                display: inline-block;
                line-height: 28px;
            }
        }
    }
    .ctnTag {
        .item {
            display: inline-block;
            margin-right: 15px;

            .content {
                cursor: pointer;
                padding: 2px 5px;
                display: block;
                border: 1px solid rgba(255, 255, 255, 0.5);
            }

            .divDetail {
                padding: 5px;
                .btnTagRemarkGrp {
                    margin-bottom: 5px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                    .text {
                    }
                }
                .content {
                    margin-right: 15px;
                }
                [data-action='attention'] {
                    float: left;
                }
                [data-action='delete'],
                [data-action='report'] {
                    float: right;
                    color: #969696;
                }
            }
        }
        .btnToolGrp {
            margin-top: 5px;
            color: black;
        }
        .c-btn {
            margin-right: 5px;
            cursor: pointer;
        }
    }
    .ctnDesc {
        text-indent: 2rem;
        padding: 15px 0;
        margin: 15px 0;
    }
    .ctnRelate {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        :global(.c-label) {
            font-size: 20px;
            color: white;
            margin-bottom: 15px;
            display: inline-block;
        }
        :global(.c-slide-title) {
            margin-top: 5px;
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            color: white;
        }
    }
    .ctnAuthor {
        position: relative;

        [data-field='portrait'] {
            display: inline-block;
            width: 72px;
            position: absolute;
        }

        [data-fill='name'] {
            display: block;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

        [data-fill='desc'] {
            display: block;
            margin-bottom: 3px;
        }

        .info {
            padding-left: 90px;

            .detail .c-wrap {
                margin-right: 15px;
            }
        }
        .btnToolGrp {
            position: absolute;
            top: 0;
            right: 5px;
            :global(.c-btn) {
                margin-left: 5px;
                font-size: 20px;
            }
        }
    }

    .ctnModel {
        margin-top: 30px;
        position: relative;
        > .c-label {
            font-size: 20px;
            color: white;
            margin-bottom: 15px;
            display: inline-block;
        }
        .modelItemIndex {
            position: absolute;
            left: 54px;
            top: 7px;

            .item {
                display: inline-block;
                width: 20px;
                height: 5px;
                border: 1px solid white;
                margin-left: 5px;
                cursor: pointer;

                &:global(.focus) {
                    background: white;
                }
            }
        }
        .modelItemList {
            .divModel {
                display: none;
                &:global(.focus) {
                    display: block;
                }

                .divCharacter {
                    margin-left: 60px;
                    position: relative;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

                    [data-fill='portrait'] {
                        width: 48px;
                        height: 48px;
                        position: absolute;
                        left: -60px;
                        top: 4px;
                    }
                    [data-fill='race'] {
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        border-radius: 3px;
                        padding: 0 3px;
                        color: #ccc;
                        position: relative;
                        top: 2px;
                        margin-right: 5px;
                    }

                    [data-fill='name'] {
                        display: inline-block;
                    }

                    [data-fill='desc'] {
                        margin-top: 3px;
                    }

                    .btnToolGrp {
                        display: inline-block;
                        position: absolute;
                        right: 0;
                    }
                }
                .divEquipment {
                    .item {
                        position: relative;
                        height: 50px;
                        margin-left: 60px;
                        margin-bottom: 10px;
                        padding: 2px 5px;
                        background: rgba(255, 255, 255, 0.1);
                        border-radius: 3px;
                        &:nth-child(even) {
                            background: rgba(0, 0, 0, 0.3);
                        }
                    }

                    [data-field='icon'] {
                        position: absolute;
                        height: 42px;
                        width: 42px;
                        left: -57px;
                        top: 3px;
                        border-radius: 5px;
                    }

                    [data-field='part'] {
                        display: block;
                        margin-bottom: 4px;
                        padding-left: 24px;
                    }

                    [data-field='color'] {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        left: 7px;
                        top: 6px;
                        border-radius: 2px;
                        box-shadow: 0 0 1px 1px white;
                    }

                    .btnMore {
                        position: absolute;
                        top: 2px;
                        right: 4px;
                    }
                }
            }
        }
    }
}
