.ctn {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 120px;
    .router {
        margin-bottom: 15px;

        &-col {
            float: left;
            width: 25%;
        }
        &-section {
            margin-bottom: 20px;
            .section-content {
                color: rgba(120, 238, 222, 1);
                font-size: 18px;
                margin-bottom: 8px;
            }
            .route-list {
                .route {
                    color: #e4fde1;
                    display: block;
                    cursor: pointer;
                    margin-bottom: 2px;
                    font-size: 14px;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        font-size: 12px;
    }
}
