<div class="cpc-router-map">
    <div class="cpc-section-col">
        <div class="cpc-section">
            <div class="cpc-name">传送门</div>
            <div class="cpc-nav-list">
                <span class="cpc-nav-item" data-href="/page=gallery.gallery">幻化回廊</span>
                <span class="cpc-nav-item" data-href="/page=gallery.illustration">幻化图鉴</span>
                <span class="cpc-nav-item" data-href="/page=gallery.gallery">装潢展示</span>
                <span class="cpc-nav-item" data-href="/page=gallery.gallery">画册</span>
            </div>
        </div>
    </div>
    <div class="cpc-section-col">
        <div class="cpc-section">
            <div class="cpc-name">图鉴检索</div>
            <div class="cpc-nav-list">
                <span class="cpc-nav-item">4.0新装备</span>
                <span class="cpc-nav-item">PVP装备</span>
                <span class="cpc-nav-item">制作装备</span>
                <span class="cpc-nav-item">蛮神装备</span>
                <span class="cpc-nav-item">巴哈姆特大迷宫装备</span>
                <span class="cpc-nav-item">亚历山大机工城装备</span>
            </div>
        </div>
    </div>
    <div class="cpc-section-col">
        <div class="cpc-section">
            <div class="cpc-name">用户相关</div>
            <div class="cpc-nav-list">
                <span class="cpc-nav-item">个人中心</span>
                <span class="cpc-nav-item">投稿</span>
                <span class="cpc-nav-item">收藏柜</span>
                <span class="cpc-nav-item">搜索历史</span>
                <span class="cpc-nav-item">关注动态</span>
            </div>
        </div>
    </div>
    <div class="cpc-section-col">
        <div class="cpc-section">
            <div class="cpc-name">友情链接</div>
            <div class="cpc-nav-list">
                <span class="cpc-nav-item">FF14官网</span>
                <span class="cpc-nav-item">FF14中文网</span>
                <span class="cpc-nav-item">NGA玩家社区</span>
            </div>
        </div>
        <div class="cpc-section">
            <div class="cpc-name">下载支持</div>
            <div class="cpc-nav-list">
                <span class="cpc-nav-item">chrome官方正版</span>
                <span class="cpc-nav-item">网游加速器</span>
                <span class="cpc-nav-item">FF14玩家助手</span>
            </div>
        </div>
    </div>
</div>
<div class="cpc-copyright">Copyright (C) 2010 - 2016 SQUARE ENIX CO., LTD. All Rights Reserved. © 2016</div>