{
    "presets": [
        [
            "env",
            {
                "targets": { "android": 4, "ios": 8 }
            }
        ],
        "stage-0"
    ],
    "env": {
        "production": {
            "plugins": ["babel-plugin-dev-expression", "transform-es2015-block-scoping"]
        },
        "development": {
            "plugins": ["transform-class-properties", "transform-es2015-classes"]
        }
    }
}
