<% include header %>
    <div class="c-screen">
        <div id="navTop" class="c-page-header cpc-nav-top">
            <div class="cpc-nav-bg"></div>
            <div class="cpc-nav-body">
                <div class="cpc-nav-brand">
                    <img src="<%=path%>/image/common/logo.png">
                </div>
                <div class="cpc-nav-list">
                    <div class="cpc-nav-item" data-href="/">
                        <div class="cpc-nav-content"><span class="text">首页</span></div>
                    </div>
                    <!--<div id="btnFilter" class="navItem"><span class="text">搜索</span></div>-->
                    <div class="cpc-nav-item" data-href="/gallery">
                        <div class="cpc-nav-content"><span class="text">幻化</span></div>
                    </div>
                    <div class="cpc-nav-item" data-href="/gallery">
                        <div class="cpc-nav-content"><span class="text">装修</span></div>
                    </div>
                    <div class="cpc-nav-item" data-href="/gallery">
                        <div class="cpc-nav-content"><span class="text">图片</span></div>
                    </div>
                    <div class="cpc-nav-item dropdown">
                        <div class="cpc-nav-content">
                            <div class="text">图鉴</div>
                        </div>
                        <div class="cpc-nav-sub-list">
                            <div class="cpc-nav-item sub" data-href="/illustration">
                                <div class="cpc-nav-content"><span class="text">散件</span></div>
                            </div>
                            <div class="cpc-nav-item sub" data-href="/illustration">
                                <div class="cpc-nav-content"><span class="text">套装</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="cpc-nav-item dropdown">
                        <div class="cpc-nav-content">
                            <div class="text">帮助</div>
                        </div>
                        <div class="cpc-nav-sub-list">
                            <div class="cpc-nav-item sub">
                                <div class="cpc-nav-content"><span class="text">留言板</span></div>
                            </div>
                            <div class="cpc-nav-item sub">
                                <div class="cpc-nav-content"><span class="text">投稿指南</span></div>
                            </div>
                            <div class="cpc-nav-item sub">
                                <div class="cpc-nav-content"><span class="text">联系我们</span></div>
                            </div>
                            <div class="cpc-nav-item sub">
                                <div class="cpc-nav-content"><span class="text">关于</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="cpc-nav-item" data-href="/#page=gallery.post">
                        <div class="cpc-nav-content"><span class="text">投稿</span></div>
                    </div>
                    <!--<div class="navItem search">
                        <input type="text" class="iptSearch" placeholder="请输入标题/作者/标签" />
                        <span class="glyphicon glyphicon-search"></span>
                    </div>-->
                    <!--<div id="btnLogin" class="navItem" data-event="action" data-action="login">登录</div>-->
                </div>
            </div>
        </div>
        <div class="c-page scrollBar">
            <div class="c-page-body">

            </div>
            <div class="c-page-footer cpc-nav-bottom">
                <div class="cpc-router-map">
                    <div class="cpc-section-col">
                        <div class="cpc-section">
                            <div class="cpc-name">传送门</div>
                            <div class="cpc-nav-list">
                                <span class="cpc-nav-item" data-href="/page=gallery.gallery">幻化回廊</span>
                                <span class="cpc-nav-item" data-href="/page=gallery.illustration">幻化图鉴</span>
                                <span class="cpc-nav-item" data-href="/page=gallery.gallery">装潢展示</span>
                                <span class="cpc-nav-item" data-href="/page=gallery.gallery">画册</span>
                            </div>
                        </div>
                    </div>
                    <div class="cpc-section-col">
                        <div class="cpc-section">
                            <div class="cpc-name">图鉴检索</div>
                            <div class="cpc-nav-list">
                                <span class="cpc-nav-item">4.0新装备</span>
                                <span class="cpc-nav-item">PVP装备</span>
                                <span class="cpc-nav-item">制作装备</span>
                                <span class="cpc-nav-item">蛮神装备</span>
                                <span class="cpc-nav-item">巴哈姆特大迷宫装备</span>
                                <span class="cpc-nav-item">亚历山大机工城装备</span>
                            </div>
                        </div>
                    </div>
                    <div class="cpc-section-col">
                        <div class="cpc-section">
                            <div class="cpc-name">用户相关</div>
                            <div class="cpc-nav-list">
                                <span class="cpc-nav-item">个人中心</span>
                                <span class="cpc-nav-item">投稿</span>
                                <span class="cpc-nav-item">收藏柜</span>
                                <span class="cpc-nav-item">搜索历史</span>
                                <span class="cpc-nav-item">关注动态</span>
                            </div>
                        </div>
                    </div>
                    <div class="cpc-section-col">
                        <div class="cpc-section">
                            <div class="cpc-name">友情链接</div>
                            <div class="cpc-nav-list">
                                <span class="cpc-nav-item">FF14官网</span>
                                <span class="cpc-nav-item">FF14中文网</span>
                                <span class="cpc-nav-item">NGA玩家社区</span>
                            </div>
                        </div>
                        <div class="cpc-section">
                            <div class="cpc-name">下载支持</div>
                            <div class="cpc-nav-list">
                                <span class="cpc-nav-item">chrome官方正版</span>
                                <span class="cpc-nav-item">网游加速器</span>
                                <span class="cpc-nav-item">FF14玩家助手</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cpc-copyright">Copyright (C) 2010 - 2016 SQUARE ENIX CO., LTD. All Rights Reserved. © 2016</div>
            </div>
        </div>
    </div>
    <% include footer %>