<% include header %>
    <div class="c-screen">
        <div id="navTop" class="c-page-header cp-nav-top">
            <div class="cp-nav-bg"></div>
            <div class="cp-nav-body">
                <div class="cp-nav-brand">
                    <img src="<%=path%>/image/common/logo.png">
                </div>
                <div class="cp-nav-list">
                    <div class="cp-nav-item" data-href="/#page=gallery.home">
                        <div class="cp-nav-content"><span class="text">首页</span></div>
                    </div>
                    <!--<div id="btnFilter" class="navItem"><span class="text">搜索</span></div>-->
                    <div class="cp-nav-item" data-href="/#page=gallery.gallery">
                        <div class="cp-nav-content"><span class="text">幻化</span></div>
                    </div>
                    <div class="cp-nav-item" data-href="/#page=gallery.gallery">
                        <div class="cp-nav-content"><span class="text">装修</span></div>
                    </div>
                    <div class="cp-nav-item" data-href="/#page=gallery.gallery">
                        <div class="cp-nav-content"><span class="text">图片</span></div>
                    </div>
                    <div class="cp-nav-item dropdown">
                        <div class="cp-nav-content">
                            <div class="text">图鉴</div>
                        </div>
                        <div class="cp-nav-sub-list">
                            <div class="cp-nav-item sub" data-href="/#page=gallery.illustration">
                                <div class="cp-nav-content"><span class="text">散件</span></div>
                            </div>
                            <div class="cp-nav-item sub" data-href="/#page=gallery.illustration">
                                <div class="cp-nav-content"><span class="text">套装</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="cp-nav-item dropdown">
                        <div class="cp-nav-content">
                            <div class="text">帮助</div>
                        </div>
                        <div class="cp-nav-sub-list">
                            <div class="cp-nav-item sub"><span class="text">留言板</span></div>
                            <div class="cp-nav-item sub"><span class="text">投稿指南</span></div>
                            <div class="cp-nav-item sub"><span class="text">联系我们</span></div>
                            <div class="cp-nav-item sub"><span class="text">关于</span></div>
                        </div>
                    </div>
                    <div class="cp-nav-item" data-href="/#page=gallery.post"><span class="text">投稿</span></div>
                    <!--<div class="navItem search">
                        <input type="text" class="iptSearch" placeholder="请输入标题/作者/标签" />
                        <span class="glyphicon glyphicon-search"></span>
                    </div>-->
                    <!--<div id="btnLogin" class="navItem" data-event="action" data-action="login">登录</div>-->
                    <div class="cp-user-profile">
                        <div class="cp-user-info cp-nav-item dropdown forAfterLogin">
                            <div class="cp-nav-content">
                                <img class="portrait" data-field="portrait" src="/image/user/1.png" />
                                <span class="name" data-field="name"></span>
                            </div>
                            <div class="cp-nav-sub-list">
                                <span class="name"></span>
                                <span class="role"></span>
                                <span class="level">
                                    <span class="label">等级</span>
                                <span class="number"></span>
                                <span class="levelBar"><span class="levelScore"></span></span>
                                <span class="help">积分有什么用</span>
                                <span class="tip"></span>
                                </span>
                                <span class="entrance">
                                    <span class="item">个人中心</span>
                                <span class="item">投稿管理</span>
                                <span class="item">稿件审核</span>
                                <span class="item">关注管理</span>
                                </span>
                                <span class="btnLogout" data-action="logout">注销</span>
                            </div>
                        </div>
                        <div class="cp-nav-item forBeforeLogin" data-action="login">
                            <div class="cp-nav-content"><span class="text">登录 / 注册</span></div>
                        </div>
                        <div class="cp-nav-item dropdown cp-user-message forAfterLogin">
                            <div class="cp-nav-content">
                                <span class="text">消息</span>
                                <span class="badge"></span>
                            </div>
                            <div class="cp-nav-sub-list">
                                <div class="cp-nav-item sub" data-field="mail">
                                    <span class="text">私信</span><span class="badge"></span>
                                </div>
                                <div class="cp-nav-item sub" data-field="reply">
                                    <span class="text">回复我的</span><span class="badge"></span>
                                </div>
                                <div class="cp-nav-item sub" data-field="call">
                                    <span class="text">@我的</span><span class="badge"></span>
                                </div>
                                <div class="cp-nav-item sub" data-field="praise">
                                    <span class="text">收到的赞</span><span class="badge"></span>
                                </div>
                            </div>
                        </div>
                        <div class="cp-nav-item forAfterLogin"><span class="text">收藏夹</span></div>
                        <div class="cp-nav-item forAfterLogin"><span class="text">历史</span></div>
                        <div class="cp-nav-item forAfterLogin" data-href="/#page=gallery.post"><span class="text">投稿</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-page scrollBar">
            <div class="c-page-body">

            </div>
            <div class="c-page-footer cp-nav-bottom">
                <div class="cp-router-map">
                    <div class="cp-section-col">
                        <div class="cp-section">
                            <div class="cp-name">传送门</div>
                            <div class="cp-nav-list">
                                <span class="cp-nav-item" data-href="/page=gallery.gallery">幻化回廊</span>
                                <span class="cp-nav-item" data-href="/page=gallery.illustration">幻化图鉴</span>
                                <span class="cp-nav-item" data-href="/page=gallery.gallery">装潢展示</span>
                                <span class="cp-nav-item" data-href="/page=gallery.gallery">画册</span>
                            </div>
                        </div>
                    </div>
                    <div class="cp-section-col">
                        <div class="cp-section">
                            <div class="cp-name">图鉴检索</div>
                            <div class="cp-nav-list">
                                <span class="cp-nav-item">4.0新装备</span>
                                <span class="cp-nav-item">PVP装备</span>
                                <span class="cp-nav-item">制作装备</span>
                                <span class="cp-nav-item">蛮神装备</span>
                                <span class="cp-nav-item">巴哈姆特大迷宫装备</span>
                                <span class="cp-nav-item">亚历山大机工城装备</span>
                            </div>
                        </div>
                    </div>
                    <div class="cp-section-col">
                        <div class="cp-section">
                            <div class="cp-name">用户相关</div>
                            <div class="cp-nav-list">
                                <span class="cp-nav-item">个人中心</span>
                                <span class="cp-nav-item">投稿</span>
                                <span class="cp-nav-item">收藏柜</span>
                                <span class="cp-nav-item">搜索历史</span>
                                <span class="cp-nav-item">关注动态</span>
                            </div>
                        </div>
                    </div>
                    <div class="cp-section-col">
                        <div class="cp-section">
                            <div class="cp-name">友情链接</div>
                            <div class="cp-nav-list">
                                <span class="cp-nav-item">FF14官网</span>
                                <span class="cp-nav-item">FF14中文网</span>
                                <span class="cp-nav-item">NGA玩家社区</span>
                            </div>
                        </div>
                        <div class="cp-section">
                            <div class="cp-name">下载支持</div>
                            <div class="cp-nav-list">
                                <span class="cp-nav-item">chrome官方正版</span>
                                <span class="cp-nav-item">网游加速器</span>
                                <span class="cp-nav-item">FF14玩家助手</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cp-copyright">Copyright (C) 2010 - 2016 SQUARE ENIX CO., LTD. All Rights Reserved. © 2016</div>
            </div>
        </div>
    </div>
    <% include footer %>