<% include header %>
    <div id="navTop" class="navTop">
        <div class="navBrand">
            <img src="<%=path%>/images/common/logo.png">
        </div>
        <div class="navContent">
            <div class="navItem" data-target=""><div class="nav">首页</div></div>
            <!--<div id="btnFilter" class="navItem"><span class="text">搜索</span></div>-->
            <div class="navItem dropdown">
                <div class="nav">图鉴</div>
                <div class="navSubMenu">
                    <div class="nav sub" data-event="page" data-target="/views/page/messageBoard.html">散件</div>
                    <div class="nav sub" data-event="page" data-target="/views/page/messageBoard.html">套装</div>
                </div>
            </div>
            <div class="navItem dropdown">
                <div class="nav">帮助</div>
                <div class="navSubMenu">
                    <div class="nav sub" data-event="page" data-page="/views/page/messageBoard.html">留言板</div>
                    <div class="nav sub" data-event="page" data-page="/views/page/messageBoard.html">投稿指南</div>
                    <div class="nav sub" data-event="page" data-page="/views/page/messageBoard.html">联系我们</div>
                    <div class="nav sub" data-event="page" data-page="/views/page/messageBoard.html">关于</div>
                </div>
            </div>
            <div class="navItem search">
                <input type="text" class="iptSearch" placeholder="请输入标题/作者/标签" />
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <!--<div id="btnLogin" class="navItem" data-event="action" data-action="login">登录</div>-->
        </div>
    </div>
    <div id="mainContainer" class="mainContainer"></div>
    <div id="navBottom" class="navBottom">
        <div class="footer">Copyright (C) 2010 - 2016 SQUARE ENIX CO., LTD. All Rights Reserved. © 2016</div>
    </div>

    <% include footer %>