    <%if(typeof script != 'undefined'){%>
        <%script.forEach(function(link){%>
            <script type="text/javascript" src="<%=path%><%=link%>" defer></script>
        <%})%>
    <%}%>
</body>
</html>