:global(.cc-navTop-ctn) :global(.cc-navTop-body) {
    max-width: initial;
}

:global(.c-page-body) {
    height: 100%;
}

:global(.cc-navTop-body) {
    max-width: initial;
}

:global(.cc-navBottom-ctn) {
    display: none;
}

.pageBg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ctnItemList {
    width: calc(100% - 240px);
    height: 100%;
    left: 240px;

    .infoBox {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px 10px;
        background: rgba(0, 0, 0, 0.5);

        .name {
            display: block;
            height: 0;
            opacity: 0;
            transition: 0.3s;
        }
        .author {
            font-size: 12px;
        }

        .remark {
            display: inline-block;
            font-size: 12px;
            float: right;

            .remarkItem {
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }
    :global(.cp-masonary-item) {
        cursor: pointer;
        &:hover {
            .infoBox {
                .name {
                    height: 22px;
                    opacity: 1;
                }
            }
        }
    }
}

.ctnQuery {
    position: absolute;
    z-index: 1;
    width: calc(100% - 270px);
    left: 250px;
    top: 5px;
    background: rgba(0, 0, 0, 0.75);
    padding: 5px 20px;

    .divQueryItem {
        display: inline-block;
        &[data-field='keyword'] {
            width: calc(100% - 150px);
            position: relative;
        }
        .list {
            display: none;
        }
    }

    .iptQuery {
        background: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        width: 100%;
    }

    .btnSearch {
        position: absolute;
        color: #ccc;
        font-size: 16px;
        line-height: 24px;
        left: 160px;
        cursor: pointer;
    }
}
.ctnPagination {
    position: absolute;
}
