<style>
    .mainContainer {
        top: 0;
    }
    
    .navTop {
        background: transparent;
    }
    
    .navTop .navBg {
        background: rgba(255, 255, 255, .15);
    }
    
    .pageBg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    #containerBanner {
        position: relative;
        text-align: center;
        height: 180px;
    }
    
    .imgBanner {
        width: 100%;
        height: 100%;
    }
</style>
<img class="pageBg" src="/image/gallery/background.jpg" />
<!--<div id="containerBanner">
    <img class="imgBanner" src="/image/gallery/banner.jpg" />
</div>-->
<div id="containerRecommend">
    <div class="wrapRecommendSlide"></div>
</div>
<div id="containerItemList">

</div>