html {
    height: 100%;
    width: 100%;
    font-family: Helvetica, "Microsoft Yahei";
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: Helvetica, "Microsoft Yahei";
    background: linear-gradient(black, #2e2e33);
    color: white;
}

.mainContainer {}