<div class="{divConfigItem} {divInputItem} c-input-wrap" data-field="keyword">
    <span class="c-btn iconfont icon-search" data-action="keyword"></span><input class="{ipt} c-input" type="text" placeholder="请输入名字/作者/标签" /> </span>
</div>
<div class="{divConfigItem} {divInputItem} c-input-wrap" data-field="equipment">
    <span class="c-btn iconfont icon-search" data-action="equipment"></span><input class="{ipt} c-input" type="text" placeholder="请输入装备名"/>
</div>
<div class="{divConfigItem} {divBtnItem}" data-field="sort">
    <div class="{value} cp-dropdown-body">综合排序</div>
    <div class="{list} cp-dropdown-menu cp-dropdown-root">
        <span class="{item}" data-value="overview">综合热度</span> <span class="{item}" data-value="praise">最多点赞</span>
        <span class="{item}" data-value="collect">最多收藏</span> <span class="{item}" data-value="view">最多阅览</span>
        <span class="{item}" data-value="comment">最多评论</span> <span class="{item}" data-value="time">最新发布</span>
    </div>
</div>
<div class="{divConfigItem} {divBtnItem}" data-field="time">
    <div class="{value} cp-dropdown-body">全部时间</div>
    <div class="{list} cp-dropdown-menu cp-dropdown-root">
        <span class="{item}" data-value="all">全部时间</span> <span class="{item}" data-value="d1">一日</span> <span class="{item}" data-value="d3">三日</span>
        <span class="{item}" dara-value="w1">一周</span>
    </div>
</div>
<div class="{divConfigItem} {divBtnItem} {divBtnGrp}">
    <span class="c-btn {item}" data-action="masonary"><span class="{icon} iconfont icon-masonary"></span></span> 
    <span class="c-btn {item}" data-action="plane"><span class="{icon} iconfont icon-plane"></span></span>
    <span class="c-btn {item}" data-action="top"><span class="{icon} iconfont icon-top"></span></span>
</div>
