/*component nav*/

.cp-nav-top {
    height: 44px;
    width: 100%;
    position: fixed;
    background-color: black;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 1);
    z-index: 1;
    display: flex;
    display: -webkit-flex;
}

.cp-nav-top .cp-nav-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cp-nav-top .cp-nav-body {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.cp-nav-brand {
    display: inline-block;
    height: 100%;
    padding: 10px;
    float: left;
}

.cp-nav-brand>img {
    max-height: 100%;
    max-width: 100%;
}

.cp-nav-top .cp-user-profile {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
}

.cp-nav-top .cp-user-info {
    display: none;
}

.cp-nav-top .main .badge {
    margin-left: 0;
}

.cp-nav-top .badge {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    line-height: 17px;
    margin-left: 5px;
    color: coral;
}

.cp-nav-top .cp-user-info .main {
    display: inline-flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.cp-nav-top .isLogin .userInfo {
    display: inline-block;
}

.cp-nav-top .cp-user-portrait {
    height: 90%;
}

.cp-nav-top .cp-nav-list {
    display: inline-block;
    height: 100%;
    margin-left: 30px;
}

.cp-nav-top .cp-nav-item {
    font-size: 14px;
    padding: 5px 12px;
    height: 100%;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    position: relative;
    cursor: pointer;
    float: left;
}

.cp-nav-top .cp-nav-sub-list {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 1px 1px white inset;
    padding: 1px;
    cursor: default;
}

.cp-nav-top .cp-nav-item:hover {
    background: rgba(255, 255, 255, 0.25);
}

.cp-nav-top .cp-nav-item.dropdown:hover>.cp-nav-sub-list {
    display: block;
}

.cp-nav-top .cp-nav-item.sub {
    font-size: 12px;
    display: block;
    white-space: nowrap;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
}

.cp-nav-top .cp-nav-item.sub:hover {
    background: rgba(255, 255, 255, .25);
}

.cp-nav-top .userProfile .cp-nav-item {
    display: none;
}

.cp-nav-top .userProfile .navItem[data-action="login"] {
    display: inline-flex;
    display: -webkit-inline-flex;
}

.cp-nav-top .userProfile.isLogin .navItem {
    display: inline-flex;
    display: -webkit-inline-flex;
}

.cp-nav-top .userProfile.isLogin .navItem[data-action="login"] {
    display: none;
}

.cp-nav-top .userProfile.isLogin.isVisitor .navItem[data-action="login"] {
    display: inline-flex;
    display: -webkit-inline-flex;
}

.cp-nav-top .userProfile .spinner {
    padding: 5px 10px;
    background: black;
}

.cp-nav-top .userInfo .sub {
    width: 200px;
    padding: 15px;
    text-align: center;
}

.cp-nav-top .userInfo .sub .name {
    display: block;
    font-weight: bold;
}

.cp-nav-top .userInfo .sub .role {
    display: block;
    font-size: 12px;
}

.cp-nav-top .userInfo .sub .level {
    position: relative;
    display: block;
    margin-top: 15px;
}

.cp-nav-top .userInfo .sub .level .label {
    position: absolute;
    left: 0;
    padding: 0;
    font-weight: normal;
}

.cp-nav-top .userInfo .sub .level .number {
    position: absolute;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 24px;
    box-shadow: 0 0 5px 1px white;
    display: inline-block;
    background: #1c1c59;
    left: 35px;
    top: -6px;
}

.cp-nav-top .userInfo .sub .level .levelBar {
    margin-left: 60px;
    display: block;
    height: 10px;
    background: #a7a7ff;
    margin-bottom: 15px;
}

.cp-nav-top .userInfo .sub .level .levelScore {
    width: 70%;
    height: 100%;
    display: inline-block;
    background: #1c1c59;
    float: left;
}

.cp-nav-top .userInfo .sub .level .tip {
    display: inline-block;
    float: right;
    font-size: 12px;
}

.cp-nav-top .userInfo .sub .level .help {
    display: inline-block;
    float: left;
    font-size: 12px;
    cursor: pointer;
    color: cornflowerblue;
}

.cp-nav-top .userInfo .sub .router {
    display: block;
    padding-top: 10px;
    margin-top: 40px;
    font-size: 14px;
    border-top: 1px solid #aaa;
}

.cp-nav-top .userInfo .sub .routerItem {
    display: inline-block;
    cursor: pointer;
    width: 50%;
}

.cp-nav-top .userInfo .sub .routerItem:nth-child(even) {
    float: right;
}

.cp-nav-top .userInfo .sub .btnLogout {
    display: block;
    text-align: right;
    font-size: 14px;
    margin: 10px -15px -15px -15px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.cp-nav-bottom .cp-router-map {
    margin-bottom: 15px;
}

.cp-nav-bottom .cp-router-map::before {
    content: '';
    display: table;
}

.cp-nav-bottom .cp-router-map::after {
    content: '';
    display: table;
    clear: both;
}

.cp-nav-bottom .cp-section-col {
    float: left;
}

.cp-nav-bottom .cp-section {
    margin-bottom: 20px;
}

.cp-nav-bottom .cp-section>.cp-name {
    font-size: 18px;
    margin-bottom: 8px;
}

.cp-nav-bottom .cp-nav-item {
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
}

.cp-copyright {
    text-align: center;
    font-size: 12px;
}


/*component waterfall*/

.waterfallGalleryCtn {
    position: relative;
    overflow: auto;
}

.waterfallGalleryCtn .itemBox {
    position: absolute;
}