<style>
    .mainContainer {
        /*top: 0;*/
    }
    
    .navTop {
        background: transparent;
    }
    
    .navTop .navField {
        max-width: initial;
    }
    
    .navTop .navBg {
        background: rgba(255, 255, 255, .15);
    }
</style>
<div id="ctnPhotoAlbum"></div>
<div id="ctnInfo">
    <div id="ctnBaseInfo"></div>
    <div id="ctnAuthorInfo"></div>
    <div id="ctnModelInfo"></div>
    <div id="ctnRemarkInfo"></div>
</div>
<div id="ctnRecommend"></div>
<div id="ctnComment"></div>