body {
    background: linear-gradient(black, #161823);
    color: white;
}

.c-page {
    padding-top: 5px;
}

.c-page-footer {
    text-align: center;
}

.c-page-header {
    background-color: black;
    box-shadow: 0 0 5px 1px #89f2ff;
}

.cc-nav-top .cc-nav-content {
    color: rgba(120, 238, 222, 1);
    text-shadow: 0 0 1px rgba(120, 238, 222, 1);
}

.cc-nav-item.dropdown:hover .cc-nav-sub-list:before {
    background: #89f2ff;
}

.cc-nav-top .cc-user-info {
    color: #e4fde1;
}

.cc-nav-bottom {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 120px;
}

.cc-nav-bottom .cc-section-col {
    width: 25%;
}

.cc-nav-bottom .cc-section > .cc-name {
    color: rgba(120, 238, 222, 1);
}

.cc-nav-bottom .cc-nav-item {
    color: #e4fde1;
}
