<div id="scrollGuide">
</div>
<div id="panelDisplayboard">
    <div class="wrapItemPic"></div>
    <div class="wrapItemToggle"></div>
</div>
<div id="panelTransmog" class="panelSection"></div>
<div id="panelDecoration" class="panelSection"></div>
<div id="panelPicture" class="panelSection"></div>
<div id="panelSpecialEntrance">
    <div id="wrapIllustration" class="entrance"></div>
    <div id="wrapLastest" class="entrance"></div>
    <div id="wrapPVP" class="entrance"></div>
    <div id="wrapProfession" class="entrance"></div>
</div>