<div class="c-overlay {overlay}"></div>
<div class="{panel}">
    <div class="{ttl}">幻化回廊</div>
    <div class="c-btn {btn-delete} iconfont icon-delete-alt" data-action="hide"></div>
    <div class="c-clear-fix {header}">
        <div class="c-btn" data-action="visitor">游客身份登陆</div>
        <div class="{result}"></div>
    </div>
    <div class="{form}">
        <div class="{iptWrap} c-input-wrap">
            <span class="{ipt-addones} iconfont icon-user"></span>
            <input value="{account}" type="text" data-field="account" class="{ipt} c-input" placeholder="账号" />
        </div>
        <div class="{iptWrap} c-input-wrap">
            <span class="{ipt-addones} iconfont icon-lock"></span>
            <input value="{pwd}" type="password" data-field="password" class="{ipt} c-input" placeholder="密码" />
        </div>
        <div class="{status}"><span class="{btnStart} c-btn iconfont icon-start" data-action="login"></span> <span class="{spinner}"></span></div>
    </div>
    <div class="{toolGrp} c-clear-fix">
        <span class="{toolItem} c-btn c-check-wrap {remember}" data-action="remember"
            ><span class="c-check-icon"></span><span class="c-check-text text">记住密码</span></span
        >
        <span class="{toolItem} c-btn" data-action="foget"><span class="text">忘记密码</span></span>
        <span class="{toolItem} c-btn" data-action="register"><span class="text">注册</span></span>
    </div>
</div>
